#header{
        background-image: url(img/couchfriends.jpg);
        height: 450px;
}
#quote{
       background-color: #272727;
       color:#fff ;
}
#our-team{
    background-image: url(img/workspace.jpg);
    height: 300px;
}
.img{
    margin-top:40px;
    border-radius: 80px;

}
#contact{
    background-color: #ddd;
}
footer{
    background-color: #272727;
    color: #ddd;
    padding: 10px;
}